## Demonstrator of the minimum viable soluton

In [1]:
import numpy as np
import nbimporter
import pandas as pd

In [2]:
# get the article dataframe
articles = pd.read_csv('../data/cleaned_articles.csv')
articles.drop(columns=['Unnamed: 0'], inplace=True)
#articles.head()

# get the embeddings
embeddings = pd.read_pickle('../data/openaiembed_top250.pkl')

In [3]:
articles.head()

,article_id,title,paragraphs,ressort,authors,date
0,FALTER_201512234F1D30CEA9,"""Bewundere Frau Merkel über alles""",['Kinderwagen drängen sich bei der Eingangstür...,Steiermark,gerlinde pölsler,2015-12-23 00:00:00+00:00
1,FALTER_2015122382119EA87A,Wildbretter,['Das Handbuch der Kolumnenschreiberei sieht v...,Falters Zoo,NaN,2015-12-23 00:00:00+00:00
2,FALTER_2015122317D031535C,"Warum es ganz normal sein kann, zwei Zuhause z...","['Xenia, Fotografin, 22', 'Ich habe bis vor zw...",Stadtleben,barbara tóth,2015-12-23 00:00:00+00:00
3,FALTER_20151223D853291AAA,Der Lerchenfisch,['Zuerst Korrektur eines Irrtums: Nicht die AM...,Stadtleben,florian holzer,2015-12-23 00:00:00+00:00
4,FALTER_201512238A0DEB6E2D,Uhudler-Orbán und Kernölamazonen,['Wann feiert ein Kabarettist eigentlich Silve...,Lexikon,"stefanie panzenböck, sara schausberger",2015-12-23 00:00:00+00:00

In [4]:
from Ressort_similarity_analysis import get_topk_similar_articles
from Ressort_similarity_analysis import calculated_cosine_similarity

In [5]:
# first step is to calculate the cosine similarity
cos_sim_matrix = calculated_cosine_similarity(embeddings)

# define article of interest
article_of_interest = "FALTER_201512238A0DEB6E2D"
# this could be eventually asked by the user using an input terminal. Now for the demonstrator one was randomly defined

# declare a function that gets the index for the article of interest
def get_index_by_article_id(article_df, article_name):
    i = article_df.index[article_df["article_id"] == article_name]
    i = i[0]
    return(i)

article_index = get_index_by_article_id(articles, article_of_interest)
top_sim_art = get_topk_similar_articles(articles, cos_sim_matrix, article_index, 5)

In [6]:
# First print the paragraph of the article of interest
articles.query("article_id == @article_of_interest").paragraphs

4    ['Wann feiert ein Kabarettist eigentlich Silve...
Name: paragraphs, dtype: object

In [7]:
articles[articles.article_id.isin(top_sim_art)].loc[:,["article_id", "paragraphs"]]

,article_id,paragraphs
295,FALTER_2015120936CD8B87C7,"['THEATER', '1 Die Frauen vom Aktionstheater E..."
599,FALTER_201511259BD7454800,"['THEATER', '1 Komödie über eine Trauerfeier f..."
1733,FALTER_201509167E2461C39D,"['THEATER', '1 Streng durchkomponiertes Frauen..."
4866,FALTER_20150311AE59BB7A43,"['THEATER/TANZ', '1 Apocalypse wow: vier genia..."
5555,FALTER_201501289CEEBA9DCA,"['THEATER', '1 Die tolle englische Gruppe Forc..."

## Demonstrator of adaptations

Here we will demonstrate the implementation of ChatGPT

In [8]:
import openai
openai.api_key = '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'

In [9]:
from ChatGPTSubmissions import get_category
from ChatGPTSubmissions import clean_text